[Unit]
Description=Shuttle Access Projection

[Service]
ExecStart=/snap/bin/dotnet Shuttle.Access.Projection.dll
WorkingDirectory=/opt/access-projection/
User=azureuser
Restart=on-failure
SyslogIdentifier=access-projection
PrivateTmp=true

[Install]
WantedBy=multi-user.target