[Unit]
Description=Shuttle Access WebApi

[Service]
ExecStart=/snap/bin/dotnet Shuttle.Access.WebApi.dll
WorkingDirectory=/opt/access-webapi/
User=azureuser
Restart=on-failure
SyslogIdentifier=access-webapi
PrivateTmp=true

[Install]
WantedBy=multi-user.target