[Unit]
Description=Shuttle Access Server

[Service]
ExecStart=/snap/bin/dotnet Shuttle.Access.Server.dll
WorkingDirectory=/opt/access-server/
User=azureuser
Restart=on-failure
SyslogIdentifier=access-server
PrivateTmp=true

[Install]
WantedBy=multi-user.target