<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
    <section name="subscription" type="Shuttle.Esb.Sql.Subscription.SubscriptionSection, Shuttle.Esb.Sql.Subscription" />
    <section name="transactionScope"
             type="Shuttle.Core.Transactions.TransactionScopeSection, Shuttle.Core.Transactions" />
  </configSections>

  <appSettings>
    <add key="azure" value="#{AzureStorageConnectionString}#" />
    <add key="Shuttle.Core.Data.DbCommandFactory.CommandTimeout" value="60"/>
  </appSettings>
  
  <subscription connectionStringName="Access" />

  <connectionStrings>
    <clear />
    <add name="Access" providerName="System.Data.SqlClient" connectionString="#{AccessConnectionString}#" />
  </connectionStrings>

  <serviceBus>
    <queueFactories scan="false">
      <add type="Shuttle.Esb.AzureMQ.AzureStorageQueueFactory, Shuttle.Esb.AzureMQ" />
    </queueFactories>

    <inbox workQueueUri="azuremq://azure/access-server-inbox-work"
           deferredQueueUri="azuremq://azure/access-server-inbox-deferred"
           errorQueueUri="azuremq://azure/access-error"
           maximumFailureCount="8"
           durationToIgnoreOnFailure="1s*5,5s,10s,30s" 
           durationToSleepWhenIdle="1s,5s"/>
  </serviceBus>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>