<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="subscription" type="Shuttle.Esb.Sql.Subscription.SubscriptionSection, Shuttle.Esb.Sql.Subscription" />
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
  </configSections>

  <appSettings>
    <add key="azure" value="#{AzureStorageConnectionString}#" />
    <add key="Shuttle.Core.Data.DbCommandFactory.CommandTimeout" value="60"/>
  </appSettings>

  <subscription connectionStringName="Access" />

  <serviceBus>
    <queueFactories scan="false">
      <add type="Shuttle.Esb.AzureMQ.AzureStorageQueueFactory, Shuttle.Esb.AzureMQ" />
    </queueFactories>

    <messageRoutes>
      <messageRoute uri="azuremq://azure/access-server-inbox-work">
        <add specification="StartsWith" value="Shuttle.Access.Messages" />
      </messageRoute>
    </messageRoutes>
  </serviceBus>

  <connectionStrings>
    <clear />
    <add name="Access" providerName="System.Data.SqlClient"
         connectionString="#{AccessConnectionString}#" />
  </connectionStrings>
</configuration>