body {
    font-family: Roboto, sans-serif, Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    background-color: #1e1e1e;
    color: #aaa;
    margin-top: 90px;
    font-weight: 300;
}

.footer {
    background-color: #424242;
}

.ar-text-small {
    font-size: .7em;
}

#app .navbar {
    min-height: 4rem;
    background-color: #424242;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

#app .navbar .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
}

#app .nav-link {
    color: #2f2f2f;
}

.ar-title h1 {
    background-color: #de5c00;
    color: #fff;
    padding: .5rem 1rem;
    border-left: solid 5px #823600!important
}