<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
  </configSections>

  <appSettings>
    <add key="azure" value="UseDevelopmentStorage=true;DevelopmentStorageProxyUri=http://azurite" />
  </appSettings>
  
  <serviceBus>
    <queueFactories scan="false">
      <add type="Shuttle.Esb.AzureMQ.AzureStorageQueueFactory, Shuttle.Esb.AzureMQ" />
    </queueFactories>

    <messageRoutes>
      <messageRoute uri="azuremq://azure/access-server-inbox-work">
        <add specification="StartsWith" value="Shuttle.Access.Messages" />
      </messageRoute>
    </messageRoutes>
  </serviceBus>

  <connectionStrings>
    <clear />
    <add name="Access" providerName="System.Data.SqlClient" connectionString="Data Source=host.docker.internal;Initial Catalog=Access;user id=development;password=development;" />
  </connectionStrings>
</configuration>