@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities) important;
@import "./tailwind.scss";

@custom-variant dark (&:where(.dark, .dark *));

/* route transitions */
.route-enter-from,
.route-leave-to {
    opacity: 0;
}

.route-enter-active,
.route-leave-active {
    transition: all 0.3s ease;
}
