@tailwind utilities;

@layer components {
  /* Card */
  .sv-card {
    @apply text-center;
  }

  /* Form */
  .sv-form {
    @apply w-full mx-auto ease-in duration-300 p-2;
  }

  .sv-form--sm {
    @apply lg:w-1/4 md:w-2/4;
  }

  .sv-form--md {
    @apply lg:w-2/4 md:w-3/4;
  }

  .sv-form--lg {
    @apply lg:w-3/4;
  }

  /* Strip */
  .sv-strip {
    @apply flex flex-row items-center gap-2;
  }

  .sv-strip--reverse {
    @apply flex-row-reverse;
  }
}
