@tailwind utilities;

@layer components {
  /* Card */
  .sv-card {
    @apply text-center;
  }

  /* Form */
  .sv-form {
    @apply w-full mx-auto ease-in duration-300 p-2;
  }

  .sv-form--sm {
    @apply lg:w-1/4 md:w-2/4;
  }

  .sv-form--md {
    @apply lg:w-2/4 md:w-3/4;
  }

  .sv-form--lg {
    @apply lg:w-3/4;
  }

  /* Form Drawer */
  .a-drawer {
    @apply fixed top-0 right-0 bottom-0 w-full z-[1000];
  }

  .a-drawer__overlay {
    @apply h-full w-full bg-black opacity-25;
  }

  /* Strip */
  .sv-strip {
    @apply flex flex-row items-center gap-2;
  }

  .sv-strip--reverse {
    @apply flex-row-reverse;
  }

  /* Table */
  .sv-table-container {
    @apply border rounded-md p-2 my-2;
  }

  /* Title */
  .a-title {
    @apply flex flex-row items-center font-semibold text-xl pb-2 mb-4 w-full cursor-default border-0;
  }

  .a-title--normal {
    @apply border-b-1 border-solid;
  }

  .a-title--borderless {
    @apply border-0;
  }
}
