<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
    <section name="subscription" type="Shuttle.Esb.Sql.Subscription.SubscriptionSection, Shuttle.Esb.Sql.Subscription" />
    <section name="projection" type="Shuttle.Recall.Sql.EventProcessing.ProjectionSection, Shuttle.Recall.Sql.EventProcessing" />
  </configSections>

  <appSettings>
    <add key="azure" value="UseDevelopmentStorage=true" />
  </appSettings>

  <serviceBus>
    <queueFactories scan="false">
      <add type="Shuttle.Esb.AzureMQ.AzureStorageQueueFactory, Shuttle.Esb.AzureMQ" />
    </queueFactories>

    <messageRoutes>
      <messageRoute uri="azuremq://azure/access-server-inbox-work">
        <add specification="StartsWith" value="Shuttle.Access.Messages" />
      </messageRoute>
    </messageRoutes>

    <inbox workQueueUri="azuremq://azure/access-webapi-inbox-work"
           deferredQueueUri="azuremq://azure/access-webapi-inbox-deferred"
           errorQueueUri="azuremq://azure/access-error"
           durationToIgnoreOnFailure="5s,10s,30s"
           threadCount = "1"/>
  </serviceBus>

  <subscription connectionStringName="Access" />
  <projection eventStoreConnectionStringName="Access" eventProjectionConnectionStringName="Access" />

  <connectionStrings>
    <clear />
    <add name="Access" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Access;user id=sa;password=Pass!000" />
  </connectionStrings>
</configuration>