<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="subscription" type="Shuttle.Esb.Sql.Subscription.SubscriptionSection, Shuttle.Esb.Sql.Subscription" />
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
  </configSections>

  <subscription connectionStringName="Access" />

  <serviceBus>
    <messageRoutes>
      <messageRoute uri="rabbitmq://shuttle:shuttle!@localhost/access-server-inbox-work">
        <add specification="StartsWith" value="Shuttle.Access.Messages" />
      </messageRoute>
    </messageRoutes>
  </serviceBus>

  <connectionStrings>
    <clear />
    <add name="Access" providerName="System.Data.SqlClient"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=Access;Integrated Security=SSPI;" />
  </connectionStrings>
</configuration>